@if (banner) {
<div id="container" [classList]="banner.status">
    <div id="preview" [classList]="banner.size">
        <img [src]="getImageUrl(banner.filePath)">

        <div id="settings" title="Edytuj" (click)="edit()"><i class="fa-solid fa-gear"></i></div>

        <div id="status" title="Obecny status">{{getStatus()}}</div>
        <div id="size" title="Rozmiar banera">{{banner.size.toString() == 'BIG' ? 'Duży baner':'Mały baner'}}</div>
    </div>
    <div id="info">
        @if(banner.status.toString() == 'PUBLISHED'){
        Data zakończenia: {{convertLocalDateTime(banner.finishedAt)}}
        }
        @if(banner.status.toString() == 'NOT_VERIFIED'){
        Baner został przesłany do weryfikacji. Po zweryfikowaniu przez Administrację będziesz mógł go opłacić i
        aktywować.
        }
        @if(banner.status.toString() == 'REJECTED'){
        Baner został odrzucony w procesie weryfikacji przez Administrację serwisu! <br>
        <b>Powód:</b> {{banner.rejectedReason}}
        <br><br>
        Edytuj banera, aby przesłać go do ponownej weryfikacji.
        }
        @if(banner.status.toString() == 'ACCEPTED'){
        <b>Opłać baner, aby został opublikowany.</b>

        <div id="pay-button" (click)="buy()">Zapłać {{getPrice()}}zł</div>
        }
    </div>
</div>
}