
#container {
    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    max-height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .banner {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        padding: 5px;
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @media (max-width: 1600px) {
        width: 100%;
    }

    @media (max-width: 700px) {
        margin-top: 10px;
        margin-bottom: 10px;

        .banner{
            overflow: hidden;

            img{
                width: 150%;
            }
        }
    }

    @media (max-width: 600px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}