#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#container #header {
  margin: 50px 0;
  font-size: 2em;
  text-align: center;
  width: 100%;
}
@media (max-height: 500px) {
  #container #header {
    margin: 25px 0;
  }
}
#container #content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#container #content .button {
  padding: 15px;
  border-radius: 15px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
#container #content .button:hover {
  cursor: pointer;
}
#container #content #add-button {
  background-color: rgb(92, 228, 98);
}
#container #content #add-button:hover {
  background-color: rgb(69, 202, 76);
}
#container #content section {
  text-align: center;
  width: 800px;
  margin: auto;
}
#container #content section #item-list-container .item {
  background-color: rgba(255, 255, 255, 0.1176470588);
  border: 1px solid rgba(121, 121, 121, 0.5607843137);
  margin-top: 25px;
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#container #content section #item-list-container .item .name-preview {
  color: #e2a258;
  font-weight: 800;
  font-size: 1.5em;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container #content section #item-list-container .item .right-panel {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-shrink: 0;
}
#container #content section #item-list-container .item .right-panel .click-to-edit {
  font-size: 0.9em;
  color: #c7c7c7;
}
#container #content section #item-list-container .item .right-panel .remove-button {
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.26);
  color: rgb(252, 99, 107);
  border: 2px solid rgb(252, 99, 107);
  border-radius: 10px;
}
#container #content section #item-list-container .item .right-panel .remove-button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.664);
}
@media (max-width: 500px) {
  #container #content section #item-list-container .item {
    padding: 10px;
    border-radius: 10px;
  }
  #container #content section #item-list-container .item .name-preview {
    font-size: 1.2em;
    font-weight: 600;
  }
  #container #content section #item-list-container .item .right-panel {
    gap: 10px;
  }
}
#container #content section #item-list-container .selected {
  background-color: #e2a258;
}
#container #content section #item-list-container .item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2470588235);
}
#container #content section #item-list-container .item.cdk-drag-placeholder {
  opacity: 0.25;
}
#container #content section #submit-button {
  background-color: #e2a258;
  margin-top: 100px;
}
@media (max-height: 500px) {
  #container #content section #submit-button {
    margin-top: 50px;
  }
}
#container #content section #submit-button:hover {
  background-color: #ce8e45;
}
@media (max-width: 850px) {
  #container #content section {
    width: 100%;
  }
}

.item.cdk-drag-preview {
  background-color: rgba(255, 255, 255, 0.1176470588);
  border: 1px solid rgba(121, 121, 121, 0.5607843137);
  margin-top: 25px;
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #161616;
}
.item.cdk-drag-preview .name-preview {
  color: #e2a258;
  font-weight: 800;
  font-size: 1.5em;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item.cdk-drag-preview .right-panel {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-shrink: 0;
}
.item.cdk-drag-preview .right-panel .click-to-edit {
  font-size: 0.9em;
  color: #c7c7c7;
}
.item.cdk-drag-preview .right-panel .remove-button {
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.26);
  color: rgb(252, 99, 107);
  border: 2px solid rgb(252, 99, 107);
  border-radius: 10px;
}
.item.cdk-drag-preview .right-panel .remove-button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.664);
}
@media (max-width: 500px) {
  .item.cdk-drag-preview {
    padding: 10px;
    border-radius: 10px;
  }
  .item.cdk-drag-preview .name-preview {
    font-size: 1.2em;
    font-weight: 600;
  }
  .item.cdk-drag-preview .right-panel {
    gap: 10px;
  }
}/*# sourceMappingURL=staff.component.css.map */