@import "../../../styles/base";

#banner {
    width: 100%;
    max-height: 600px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

#page-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 1400px;
    margin-top: 25px;

    margin-left: auto;
    margin-right: auto;

    #container {
        width: calc(1400px - 300px);
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;

        padding-bottom: 250px;

        app-server-links{
            display: none;

            @media (max-width: 1100px) {
                display: block;
            }
        }
    }

    aside {
        width: 300px;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        gap: 15px;

        #ip-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 34px 20px;

            .ip-address {
                background-color: $color-theme;
                min-width: 80%;
                padding: 15px;
                border-radius: 25px;
                text-align: center;
                font-weight: 700;
            }
            .ip-address:hover {
                background-color: $color-theme-dark;

                cursor: pointer;
            }

            .copy-info {
                font-size: 0.9em;

                margin-top: 5px;
                font-style: italic;
            }
        }

        #button-panel-aside {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        #report-button {
            background-color: $color-red;

            padding: 10px 50px;
            border-radius: 15px;

            width: fit-content;

            
        }
        #report-button:hover {
            background-color: $color-red-dark;
            cursor: pointer;
        }
    }

    @media (max-width: 1450px) {
        width: 100%;
    }
    @media (max-width: 1350px) {
        aside {
            width: 250px;
        }
    }
    @media (max-width: 1100px) {
        aside {
            display: none;
        }
    }
}

.action-buttons-container {
    .button {
        text-align: center;

        padding: 15px;
        border-radius: 15px;
        font-weight: 700;

        cursor: pointer;
    }

    .button.vote {
        background-color: rgb(52, 172, 241);
    }
    .button.vote:hover {
        background-color: rgb(33, 142, 206);
    }

    .button.promote {
        background-color: rgb(241, 175, 52);
    }
    .button.promote:hover {
        background-color: rgb(194, 136, 29);
    }

    .button.manage {
        background-color: rgb(83, 83, 83);
    }
    .button.manage:hover {
        background-color: rgb(63, 63, 63);
    }
}

#button-panel {
    display: none;
    gap: 10px;
    flex-wrap: wrap;

    justify-content: center;

    @media (max-width: 1100px) {
        display: flex;
    }

    @media (max-width: 600px) {
        font-size: 0.9em;
    }

    .button{
        padding: 15px 45px;
    }
}

#statistic-main {
    width: 100%;

    .header {
        padding: 10px;
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
    }
}

.chart {
    width: 100%;

    border-radius: 15px;
    padding: 10px;

    .header {
        text-align: center;
        width: 100%;

        font-size: 1.4em;
        font-weight: 800;

        padding: 10px 0;
    }
}

#rate-server-popup {
    visibility: hidden;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 500;
    }

    .content {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0) scale(0);
        width: 800px;
        z-index: 501;
        border-radius: 10px;
        transition: transform 0.15s ease;
        background-color: #323232;
        padding: 30px 60px;
        margin-top: 50px;

        .header {
            position: relative;
            text-align: center;
            border-bottom: 1px solid rgb(92, 92, 92);

            .title {
                font-size: 3em;
                font-weight: 800;
                margin-top: 40px;
                padding: 20px 0;
            }
            span {
                padding-bottom: 10px;
                display: block;
            }

            #close-rate-server-popup {
                font-size: 1.9em;
                position: absolute;
                top: 0;
                right: 0;
            }

            #close-rate-server-popup:hover {
                cursor: pointer;
                color: rgb(92, 92, 92);
            }
        }

        #rating-container {
            padding: 50px;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .rating {
                padding: 30px;
                background-color: #ffffff15;
                border-radius: 30px;
                width: 100%;

                .rating-header {
                    .name {
                        font-weight: 600;
                    }
                    .description {
                        font-style: italic;
                        color: #d4d4d49f;
                    }
                }

                .stars {
                    margin-top: 20px;
                    font-size: 2em;
                    width: fit-content;

                    i {
                        color: #d4d4d49f;
                        transition: all 0.2s ease;
                    }

                    i:hover {
                        cursor: pointer;
                        color: #ffba3b;
                    }

                    i.active {
                        color: #ffba3b;
                        font-size: 1.05em;
                    }
                }
            }
        }

        .save-button {
            padding: 25px 0;
            text-align: center;
            width: 40%;

            border-radius: 10px;
            border: 2px solid #ffba3b;
            background-color: #ffba3b5e;
            transition: all 0.2s ease;

            margin-top: 50px;
            font-weight: 600;
            margin-bottom: 100px;
        }
        .save-button:hover {
            cursor: pointer;
            background-color: #ffba3bb0;
        }

        @media (max-width: 1100px) {
            width: 100%;
        }

        @media (max-width: 800px) {
            padding: 20px 10px;

            #rating-container {
                padding: 0;
                margin-top: 10px;

                .stars {
                    font-size: 1.5em;
                }
            }
        }
    }
}

#rate-server-popup.active {
    visibility: visible;

    .content {
        transform: translate(-50%, 0) scale(1);
    }
}

#vote-popup {
    visibility: hidden;
    position: fixed;
    z-index: 100000;

    width: 100vw;
    height: 100vh;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 500;
    }

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -80%) scale(0);
        width: 400px !important;
        z-index: 501;
        border-radius: 10px;
        transition: transform 0.15s ease;
        background-color: #323232;

        .header {
            position: relative;
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 20px 20px;

            .title {
                font-size: 1.4em;
                font-weight: 500;
            }
            span {
                padding-bottom: 10px;
                display: block;
            }

            #close-vote-popup {
                font-size: 1.9em;
                position: absolute;
                top: 15px;
                right: 20px;
            }

            #close-vote-popup:hover {
                cursor: pointer;
                color: $color-red;
            }
        }

        .container {
            padding: 20px;
        }

        .footer {
            padding: 0 20px 20px 20px;

            #vote-error {
                margin-bottom: 10px;
            }

            .vote-button {
                margin-left: auto;

                padding: 10px 0;
                text-align: center;
                width: 40%;

                border-radius: 10px;
                border: 2px solid #ffba3b;
                background-color: #ffba3b5e;
                transition: all 0.2s ease;

                font-weight: 600;
            }
            .vote-button:hover {
                cursor: pointer;
                background-color: #ffba3bb0;
            }
        }

        @media (max-width: 400px) {
            width: 100% !important;
        }
    }
}

#vote-popup.active {
    visibility: visible;

    .content {
        transform: translate(-50%, -80%) scale(1);
    }
}
