@if (server) {
@if (server.banner) {
<div id="banner">
    <img [src]="server.banner" [alt]="'Banner serwera '+server.name.name">
</div>
}
<div id="page-wrapper" class="center">
    <section id="container">
        <app-server-status/>

        <div id="button-panel" class="panel action-buttons-container">
            <div class="button vote" onclick="showVotePopup()">Zagłosuj</div>
            <a th:href="'/server/'+ ${server.ip} +'/promote'">
                <div class="button promote">Promuj</div>
            </a>
            @if (server.role) {
            <a [routerLink]="['/manage/server/', server.ip]">
                <div class="button manage">Zarządzaj</div>
            </a>
            }
            @if(server.roles == null){
            <a [routerLink]="['/server/', server.ip,'/take']">
                <div class="button manage">Przejmij</div>
            </a>
            }
        </div>

        @if (server.links && server.links.length>0) {
        <app-server-links [server]="server" />
        }

        <router-outlet style="display: none;" />
    </section>
    <aside>
        <div class="panel" id="ip-panel">
            <div class="ip-address" (click)="copyServerIP()"> {{server.name.name}}</div>
            <div class="copy-info">Kliknij, aby skopiować</div>
        </div>

        <div class="panel action-buttons-container" id="button-panel-aside">
            <div class="button vote" onclick="showVotePopup()">Zagłosuj</div>
            <a th:href="'/server/'+ ${server.ip} +'/promote'">
                <div class="button promote">Promuj</div>
            </a>
            @if(server.role != null){
            <a [routerLink]="['/manage/server/', server.ip]">
                <div class="button manage">Zarządzaj</div>
            </a>
            }
            @if(server.roles == null){
            <a [routerLink]="['/server/', server.ip,'/take']">
                <div class="button manage">Przejmij</div>
            </a>
            }
        </div>

        @if (server.links && server.links.length>0) {
        <app-server-links [server]="server" [style]="'link-panel-aside'" />
        }

        <a [routerLink]="['report']">
            <div id="report-button" class="center">
                Zgłoś serwer
            </div>
        </a>
    </aside>
</div>
}