@import "../../../../../../styles/base";
@import "../../../../../../styles/formElement.scss";

@mixin player() {
    padding: 10px;
    background-color: $color-dark;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    position: relative;

    .head {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 120px;
            height: 120px;
        }
    }

    .nick {
        text-align: center;
        font-weight: 600;
    }

    .links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

#container {
    background:
        url(../../../../../../../public/img/background.png),
        rgb(0, 0, 0) no-repeat;
    padding: 20px;
    border-radius: 20px;
    width: 800px;
    border: 1px solid $color-theme;

    #header {
        display: flex;
        justify-content: space-between;

        font-size: 1.5em;
        border-bottom: 1px solid $color-text1;
        padding-bottom: 20px;

        .close-button {
            cursor: pointer;
        }
    }

    .preview {
        text-align: center;
        font-size: 1.5em;
        font-weight: 700;
        padding: 20px;
    }

    #form-container {
        margin: 10px 0;

        display: flex;
        gap: 15px;

        .color-input-area {
            margin: auto;
        }
    }

    .player-panel {
        padding: 10px;
        background-color: #00000042;
        border-radius: 10px;

        .player-form-container {
            display: flex;
            width: 100%;
            gap: 10px;
        }

        .down-panel {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 10px;

            .selected-player-wrapper {
                padding: 10px 20px;
                background-color: #00000042;
                border-radius: 20px;

                width: 200px;
                height: 250px;

                @media (max-width: 1100px) {
                    padding: 15px 15px;
                }
            }

            .selected-player {
                .button {
                    width: 100%;
                    text-align: center;
                    padding: 8px;
                    margin-top: 10px;

                    border-radius: 10px;
                }

                .edit-button {
                    background-color: #4bc6ff7a;
                    border: 2px solid #4bccff;
                }
                .edit-button:hover {
                    cursor: pointer;
                    background-color: #4bc6ffc2;
                }

                .remove-button {
                    cursor: pointer;
                    color: $color-red;
                    border: 1px solid $color-red;
                    background-color: #ff282842;
                }

                .remove-button:hover {
                    background-color: #ff1b1b80;
                }

                .player {
                    background-color: transparent;

                    .head-src {
                        @media (max-width: 1100px) {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }

        .players-container {
            padding: 10px;
            display: flex;
            gap: 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.164);

            padding-bottom: 30px;
            width: 100%;

            overflow: hidden;
            overflow-x: auto;

            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;

            .selected {
                background-color: $color-theme !important;
            }

            .item.cdk-drag-placeholder {
                opacity: 0.25;
            }
        }

        .player {
            @include player();
        }
    }

    .social-links-form-container {
        flex-grow: 1;

        #social-form-container {
            overflow-y: auto;

            .input-area {
                margin-top: 5px;
                height: 40px;
                background-color: #00000042;
                border: 1px solid $color-theme;

                input {
                    height: 36px;
                }
            }
        }

        .header {
            font-weight: 800;
            padding: 5px;
        }

        #create-new-player {
            background-color: $color-green;
            width: 100%;
            height: 40px;
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1em;

            margin-top: 10px;
        }

        #create-new-player:hover {
            background-color: $color-green-dark;
            cursor: pointer;
        }
    }

    .action-button {
        width: 100%;
    }

    @media (max-width: 400px) {
        width: 100%;
    }
}

.item.cdk-drag-preview {
    @include player();

    background-color: #161616;
}