<section id="container">
    <br>
    <h1 class="header center">Problemy z dodaniem serwera?</h1>
    <br><br>
    Istnieje wiele powodów, dlaczego nie możesz dodać swojego serwera na naszą listę.
    <br> <br> <br>
    <ol>
        <li>Upewnij się, że serwer jest włączony przez co najmniej jedną minutę. Z serwerem wyłączonym nie jesteśmy
            w
            stanie się połączyć i pobrać pozostałych informacji m.in. motd serwera, ikonę itp.</li>

        <li>Upewnij się, że wpisałeś poprawny adres oraz port, jeśli nie korzystasz z domyślnego portu 25565.</li>

        <li>Upewnij się, że w pliku server.properties wartość enable-status jest ustawiona na true.</li>

        <li>Jeśli korzystasz z zapory ogniowej i filtrów to jest możliwość, że blokujesz adres serwisu
            odpowiedzialnego
            za pobieranie danych.</li>
    </ol>
    <br> <br> <br>
    Jeśli problem będzie się powtarzał, to skontaktuj się z nami za pomocą <a href="https://discord.gg/AhEKtugFTW"
        class="link">discord</a>
</section>