<div *ngIf="server" id="main-container" class="panel">
    <div id="button-container">
        @for (button of navButtons; track $index) {
            <div class="button" 
                (click)="selectButton(button)" 
                [routerLink]="[button.destination]"
                [ngClass]="{'selected': button.isSelected}"
            >{{button.name}}</div>
        }
    </div>

    <router-outlet />

    
</div>

<!--
    <div class="panel chart" id="statistic-main">
    <div class="header">Gracze Online (24h)</div>
    <canvas id="online-player-chart-down-panel" height="80"></canvas>
</div>

<div class="panel ratings-global overall-ratings-container" id="ratings-main">
    <div class="header">
        <div class="title">
            Ocena serwera
        </div>
        <div class="more-info-button" onclick='showContent(this, "ratings-main-container", true)'>
            Szczegóły
        </div>
    </div>


    <div class="container">
        <div class="left-panel">
            
                        <lottie-player id="loading-animation" src="/animation/star.json"
                        background="transparent" speed="1" loop autoplay></lottie-player>
                    
            <span class="rating"><span class="overall-rating">0</span>/5.0</span>
        </div>
        <div class="right-panel categories-container">

        </div>
    </div>

    <a href="/auth/signIn">
        <div class="sign-in-to-rate-button center" th:if="${user==null}">
            Zaloguj się, aby ocenić
        </div>
    </a>
    <a>
        <div class="rate-button center" th:if="${user!=null}">
            Oceń serwer
        </div>
    </a>
</div>
-->