<footer>
    <div class="divider-line-horizontal"></div>
    <div class="container">
        <div class="wrapper">
            <a routerLink="/">
                <img class="logo" src="/img/logo.png">
            </a>
            <nav>
                <section class="footer-nav">
                    <a routerLink="/add-new-server">
                        <li class="footer-link">Dodaj serwer</li>
                    </a>
                    <a routerLink="/banner">
                        <li class="footer-link">Zakup baner</li>
                    </a>
                    <a routerLink="/rules">
                        <li class="footer-link">Regulamin</li>
                    </a>
                    <a routerLink="/contact">
                        <li class="footer-link">Kontakt</li>
                    </a>
                    <a routerLink="/privacy-policy">
                        <li class="footer-link">Polityka prywatności</li>
                    </a>
                    <a routerLink="/rewards">
                        <li class="footer-link">Nagrody za głosowanie</li>
                    </a>
                </section>
            </nav>
        </div>
        <div class="footer-social-links">
            <a href="https://discord.gg/AhEKtugFTW" target="_blank">
                <div class="social"><i class="fa-brands fa-discord"></i></div>
            </a>
        </div>
    </div>
    <div class="divider-line-horizontal"></div>
    <div class="footer-info-down">
        <h4>MC-List.pl &copy; Lista serwerów minecraft</h4>
    </div>
</footer>