.chart{
    .header{
        text-align: center;
        font-size: 1.5em;
        font-weight: 800;
    }

    canvas{
        height: 100px;
    }

    canvas.margin{
        margin-right: 60px;
    }
}