<div class="main-container-content" id="information-main-container">
        <h1 class="content-header">Informacje</h1>

        <div id="container">
                <div class="row">
                        <div class="item">
                                <div class="content">{{parent.server.name.name}}</div>
                                <div class="label">Adres</div>
                        </div>
                        @if (parent.server.port) {
                        <div class="item">
                                <div class="content">{{parent.server.port}}</div>
                                <div class="label">Port</div>
                        </div>
                        }
                </div>
                <div class="row">
                        <div class="item">
                                <div class="content">{{parent.server.onlinePlayers}}</div>
                                <div class="label">Online</div>
                        </div>
                        @if (versions) {
                        <div class="item">
                                <div class="content" [innerHTML]="versions"></div>
                                <div class="label">Wersja</div>
                        </div>
                        }
                </div>
                @if (modes) {
                        <div class="row">
                        <div class="item">
                                <div class="content">{{modes}}</div>
                                <div class="label">Tryby</div>
                        </div>
                </div>
                }
                <div class="row">
                        <div class="item">
                                <div class="content">{{convertLocalDateTime(parent.server.createdAt)}}</div>
                                <div class="label">Data dodania</div>
                        </div>
                        <div class="item">
                                <div class="content">{{getUpdateDateTime(parent.server.nextRefreshAt)}}</div>
                                <div class="label">Data aktualizacji</div>
                        </div>
                </div>
        </div>
</div>