<div id="page-container">
    <div id="form-container">
        <div class="header">
            Zmiana hasła
        </div>

        <div class="input-area">
            <input id="login-input" type="password" placeholder="Login" maxlength="60" [(ngModel)]="password">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <div class="input-area">
            <input id="password-input" type="password" placeholder="Hasło" maxlength="60" [(ngModel)]="passwordConfirm">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
    </div>

    <div id="footer">
        <button class="action-button" (click)="resetPassword()">Ustaw nowe hasło</button>
    </div>
</div>