<div id="container">
    @if (user) {
    <div id="user-profile">
        <div class="profile-picture">
            <img [src]="'https://minotar.net/avatar/'+user.login">
        </div>
        <div class="info">
            <span class="login">{{user.login}}</span>
            <span class="role">Użytkownik</span>
        </div>
    </div>
    }

    <div id="menu-container" class="scrollable-vertical scrollable">
        <div class="header">MENU</div>

        <div class="button" routerLink="profile">
            <div class="icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="text">Podstawowe informacje</div>
        </div>
        <div class="button" routerLink="servers">
            <div class="icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="text">Serwery</div>
        </div>
        <div class="button" routerLink="banners">
            <div class="icon"><i class="fa-solid fa-circle-info"></i></div>
            <div class="text">Banery</div>
        </div>
    </div>

    <nav id="down-nav">
        <div id="server-page" routerLink="/">Strona Główna</div>
        <div id="server-page" (click)="logout()">Wyloguj</div>
    </nav>
</div>