<div id="container">
    <div id="header">
        <div class="title">
            Resetuj hasło
        </div>
        <i class="fa-solid fa-xmark close-button" (click)="close()"></i>
    </div>

    <div id="form-container">
        <div class="input-area">
            <input id="email-input" type="email" placeholder="E-mail" maxlength="60" [(ngModel)]="email">
            <div class="icon">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </div>
    </div>

    <button class="action-button" (click)="resetPassword()">Resetuj hasło</button>
</div>