<div id="container" class="main-container-content">
    <h1 class="content-header">Statystyki</h1>

    <div id="chart-container">
        <app-statistics-chart [data]="parent.server.hourlyPlayerCounts.slice(-48)" header="Gracze Online (24h)" />

        <app-statistics-chart [data]="parent.server.hourlyPlayerCounts" header="Gracze Online (7d)" />

        <app-statistics-chart [data]="parent.server.dailyPlayerCounts.slice(-30)" header="Szczytowa liczba graczy (30d)"
            [labelsWithDay]="true" [beginAtZero]="false" />

        <app-statistics-chart [data]="parent.server.dailyPlayerCounts.slice(-365)" header="Szczytowa liczba graczy (1y)"
            [labelsWithDay]="true" [beginAtZero]="false" />
    </div>
</div>