<div class="main-container-content" id="statistic-main-container">
    <h1 class="content-header">Statystyki</h1>
    <div class="chart" style="margin-top: 30px;">
        <div class="header">Gracze Online (24h)</div>
        <canvas id="online-player-chart" height="80"></canvas>
    </div>

    <div class="chart" style="margin-top: 30px;">
        <div class="header">Gracze Online (7d)</div>
        <canvas id="daily-player-chart-7" height="80"></canvas>
    </div>

    <div class="chart" style="margin-top: 30px;">
        <div class="header">Szczytowa liczba graczy (30d)</div>
        <canvas id="daily-player-chart-30" height="80"></canvas>
    </div>

    <div class="chart" style="margin-top: 30px;">
        <div class="header">Szczytowa liczba graczy (1y)</div>
        <canvas id="daily-player-chart-365" height="80"></canvas>
    </div>
</div>