header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2588235294);
  padding: 0 60px;
  position: relative;
}
header .wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .wrapper .left-panel {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
header .wrapper .left-panel .logo {
  height: 34px;
  width: auto;
  position: relative;
  top: 5px;
  cursor: pointer;
}
header .wrapper .left-panel .button-container {
  margin-left: 25px;
}
header .wrapper .left-panel .button-container ul {
  display: flex;
  gap: 10px;
}
header .wrapper .left-panel .button-container ul li {
  list-style-type: none;
  font-weight: 600;
  padding: 0 5px;
}
header .wrapper .left-panel .button-container ul li.add-server-button {
  color: rgb(92, 228, 98);
}
header .wrapper .left-panel .button-container ul li.add-server-button:hover {
  color: rgb(69, 202, 76);
}
header .wrapper .left-panel .button-container ul li.buy-banner-button {
  color: #ffd447;
}
header .wrapper .left-panel .button-container ul li.buy-banner-button:hover {
  color: #e9be32;
}
header .wrapper .left-panel .button-container ul li:hover {
  cursor: pointer;
  color: rgb(226, 221, 186);
}
@media (max-width: 900px) {
  header .wrapper .left-panel .button-container ul {
    gap: 3px;
  }
}
@media (max-width: 750px) {
  header .wrapper .left-panel .button-container {
    display: none;
  }
}
header .wrapper .right-panel {
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 150;
}
header .wrapper .right-panel #menu-button {
  font-size: 1.5em;
  display: none;
}
@media (max-width: 750px) {
  header .wrapper .right-panel #menu-button {
    display: block;
  }
}
header .wrapper .right-panel #menu-button:hover {
  cursor: pointer;
  color: #e2a258;
}
header .right-panel-menu {
  display: none;
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .right-panel-menu #background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2588235294);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 50;
}
header .right-panel-menu .panel-menu {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  padding-top: 60px;
  background-color: #0f0f0f;
  position: absolute;
  right: 0;
  z-index: 100;
}
header .right-panel-menu .panel-menu .logo {
  display: block;
  width: auto;
  height: 30px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
header .right-panel-menu .panel-menu .button-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
header .right-panel-menu .panel-menu .button-container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  list-style: none;
}
header .right-panel-menu .panel-menu .button-container li:hover {
  cursor: pointer;
  color: #e2a258;
}
header .right-panel-menu .panel-menu #user-section {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
header .right-panel-menu .panel-menu #user-section #profile-picture {
  display: flex;
  cursor: pointer;
}
header .right-panel-menu .panel-menu #user-section #profile-picture img {
  height: 40px;
  width: auto;
  min-width: 40px;
  border-radius: 5px;
  border: 2px solid #e2a258;
  overflow: hidden;
}
header .right-panel-menu .panel-menu #user-section #user-login {
  font-weight: 600;
  cursor: pointer;
}
header .right-panel-menu .panel-menu .sign-in-menu {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
}
@media (min-width: 750px) {
  header .right-panel-menu {
    display: none !important;
  }
}
header .right-panel-menu.active {
  display: block;
}
@media (max-width: 900px) {
  header {
    padding: 0 20px;
  }
}

.sign-in {
  display: block;
  background-color: #e2a258;
  padding: 8px 30px;
  border-radius: 15px;
  font-weight: 700;
  border: 2px solid #f5f5f5;
}

.sign-in:hover {
  cursor: pointer;
  background-color: #ce8e45;
}/*# sourceMappingURL=header.component.css.map */