@import "../../../styles/base";

header {
    width: 100%;
    background-color: $color-dark;

    padding: 0 60px;
    position: relative;

    .wrapper {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-panel {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .logo {
                height: 34px;
                width: auto;

                position: relative;
                top: 5px;

                cursor: pointer;
            }

            .button-container {
                margin-left: 25px;

                ul {
                    display: flex;
                    gap: 10px;

                    li {
                        list-style-type: none;
                        font-weight: 600;
                        padding: 0 5px;
                    }

                    li.add-server-button {
                        color: $color-green;
                    }
                    li.add-server-button:hover {
                        color: $color-green-dark;
                    }

                    li.buy-banner-button {
                        color: $color-yellow;
                    }
                    li.buy-banner-button:hover {
                        color: $color-yellow-dark;
                    }

                    li:hover {
                        cursor: pointer;
                        color: rgb(226, 221, 186);
                    }
                }

                @media (max-width: 900px) {
                    ul {
                        gap: 3px;
                    }
                }

                @media (max-width: 750px) {
                    display: none;
                }
            }
        }

        .right-panel {
            display: flex;
            gap: 10px;
            align-items: center;
            z-index: 150;

            #menu-button {
                font-size: 1.5em;
                display: none;

                @media (max-width: 750px) {
                    display: block;
                }
            }

            #menu-button:hover{
                cursor: pointer;
                color: $color-theme;
            }
        }
    }

    .right-panel-menu {
        display: none;

        width: 100%;
        height: calc(100vh - 60px);

        position: absolute;
        top: 0;
        left: 0;

        z-index: 1000;

        #background {
            position: absolute;
            width: 100%;
            height: 100%;

            background-color: $color-dark;
            backdrop-filter: blur(2px);
            z-index: 50;
        }

        .panel-menu {
            width: 250px;
            height: 100vh;

            overflow-y: auto;
            padding-top: 60px;

            background-color: #0f0f0f;
            position: absolute;
            right: 0;
            z-index: 100;

            .logo {
                display: block;
                width: auto;
                height: 30px;

                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
            }

            .button-container {
                display: flex;
                flex-direction: column;

                margin-top: 50px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                    list-style: none;
                }

                li:hover {
                    cursor: pointer;
                    color: $color-theme;
                }
            }

            #user-section {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;

                margin-top: 50px;

                #profile-picture {
                    display: flex;
                    cursor: pointer;
        
                    img {
                        height: 40px;
                        width: auto;
                        min-width: 40px;
        
                        border-radius: 5px;
                        border: 2px solid $color-theme;
        
                        overflow: hidden;
                    }
                }
        
                #user-login {
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .sign-in-menu {
                width: fit-content;
                margin-top: 50px;
             }
        }

        @media (min-width: 750px) {
            display: none !important;
        }
    }

    .right-panel-menu.active {
        display: block;
    }

    @media (max-width: 900px) {
        padding: 0 20px;
    }
}

.sign-in {
    display: block;
    background-color: $color-theme;
    padding: 8px 30px;
    border-radius: 15px;
    font-weight: 700;

    border: 2px solid $color-white;
}

.sign-in:hover {
    cursor: pointer;
    background-color: $color-theme-dark;
}