<div id="page-container">
    <div id="form-container">
        <div class="header">
            Logowanie
        </div>

        <div class="input-area">
            <input id="login-input" type="text" placeholder="Login" maxlength="60">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="input-area">
            <input id="password-input" type="password" placeholder="Hasło" maxlength="60">
            <div class="icon">
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
        <span id="reset-password-text">Nie pamiętasz hasła? <a onclick="togglePopup()" class="link">Zresetuj
                je</a></span>
    </div>

    <div id="footer">
        <button class="action-button" onclick="signIn()">Zaloguj się</button>
        <span>Nie masz konta? <a class="link" href="/auth/signUp">Zarejestruj się</a></span>
    </div>
</div>