<div id="container">
    <h1 id="header">Podstawowe informacje</h1>
    <div class="divider-line-horizontal"></div>
    <div id="content">
        <section>
            <div id="form-container">
                <div class="input-area">
                    <input id="address-input" type="text" placeholder="Adres serwera" maxlength="60" [(ngModel)]="ip">
                    <span class="required">*</span>
                    <div class="icon">
                        <i class="fa-solid fa-server"></i>
                    </div>
                </div>

                <div class="input-area">
                    <input id="port-input" type="number" placeholder="Port" maxlength="60" [(ngModel)]="port">
                    <div class="icon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                </div>

                <div class="menu-panel">
                    <app-input-select *ngIf="isServerLoaded" [placeholder]="'Wybierz tryb serwera'" [maxChoice]="1"
                        [options]="modeOptions" />

                    <span class="info">Jeżeli jest to sieć serwerów, prosimy o dodanie poszczególnych trybów w zakładce
                        "<a class="link" routerLink="../mode">Tryby</a>" <br>
                        Jeśli brakuje jakiegoś trybu gry, to napisz do nas, a my go dodamy
                    </span>
                </div>

                <div class="menu-panel">
                    <app-input-select *ngIf="isServerLoaded" [placeholder]="'Wybierz wersje serwera'" [maxChoice]="-1"
                        [options]="versionOptions" />
                    <span class="info">Wystarczy wybrać najstarszą i najnowszą wersję serwera. Wszystkie wersje pomiędzy
                        będą traktowane jako wspierane wersje</span>
                </div>

                <div class="checkbox-container">
                    <div class="checkbox-area">
                        <input type="checkbox" id="server-premium-checkbox" [(ngModel)]="premium">
                        <label for="server-premium-checkbox">Premium</label>
                    </div>

                    <div class="checkbox-area">
                        <input type="checkbox" id="server-mods-checkbox" [(ngModel)]="mods">
                        <label for="server-mods-checkbox">Mody</label>
                    </div>
                </div>
            </div>

            @if (responseError) {
            <div id="server-status-response-error"><span class="red">Nie możemy znaleźć takiego
                    serwera. Czy wpisałeś poprawny adres oraz port serwera?</span><br>
                <br>
                Jeśli serwer jest włączony i wciąż występuje błąd z połączeniem, przeczytaj więcej o możliwych
                przyczynach <a routerLink="/connection-issue" class="link">tutaj</a>.
            </div>
            }

            @if (loading) {
            <ng-lottie [options]="{
                    path: '/animation/loading.json',
                  }" />
            }

            <div id="submit-button" (click)="save()">
                Zapisz zmiany
            </div>
        </section>
    </div>
</div>