@import "../../../../styles/base";
@import "../../../../styles/formElement.scss";

.actived {
    @media (max-width: 600px) {
        background-color: $color-dark;
        border-radius: 12px;

        #search-container {
            display: block;
            padding: 3px;
        }

        #filter {
            border-radius: 10px 10px 0 0;

            .fa-xmark{
                display: block;
            }
            .fa-bars{
                display: none;
            }
        }
    }
}

#filter {
    background-color: $color-theme;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: 800;

    display: none;
    justify-content: space-between;

    .fa-xmark{
        display: none;
    }
    .fa-bars{
        display: block;
    }

    @media (max-width: 600px) {
        display: flex;
    }
}

#filter:hover {
    cursor: pointer;
}

#search-container {
    width: 100%;

    #form-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 100%;
    }

    .row {
        display: flex;
        gap: 10px;

        width: 100%;

        .row-half {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            gap: 10px;
        }

        .checkbox-container {
            display: flex;
            gap: 10px;
        }
    }

    #search-server-button {
        background-color: $color-theme;
        border-radius: 10px;

        height: 0;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 800;
        transition: all 0.1s ease-in;

        @media (max-width: 800px) {
            font-weight: 500;
            font-size: 0.8em;
        }
    }

    #search-server-button.active {
        height: 50px;
        margin-top: 10px;

        @media (max-width: 800px) {
            height: 40px;
        }
    }

    #search-server-button:hover {
        background-color: $color-theme-dark;
        cursor: pointer;
    }

    @media (max-width: 1200px) {
        width: 100%;
    }

    @media (max-width: 800px) {
        .row-half-container {
            flex-direction: column;
        }
    }

    @media (max-width: 600px) {
        display: none;
    }

    @media (max-width: 500px) {
        .row {
            .row-half {
                flex-direction: column;
            }
        }
    }
}
