<div id="container">
    <h1 id="header">Zarządzanie serwerem</h1>
    <div class="divider-line-horizontal"></div>
    <div id="content">
        <section>
            <span class="center server-id">Identyfikator serwera: <b><span>{{parent.server.id}}</span></b></span>

            <span class="center" style="text-align: center; margin-top: 30px;">Pamiętaj, aby systematycznie zapisywać
                zmiany, aby ich nie utracić. <br><br>Podawanie fałszywych danych np. trybów, wersji gry, opisów może
                skutkować zablokowaniem serwera.</span>
        </section>
    </div>
</div>