.center{
    display: block;
    text-align: center;
    margin: auto;
}

#container{
    margin: auto;
    padding: 20px;
    width: 600px;

    @media (max-width: 600px) {
        width: 100%;
    }
}