<section id="container">
    <br>
    <h1 class="header center">Kontakt</h1>
    <br><br>
    <span class="center">Dokładamy wszelkich starań, aby jak najszybciej odpowiadać na wasze wiadomości. Dziękujemy za zgłaszanie wszelkich poprawek, dzięki którym nasz portal staje się coraz lepszy i bardziej przyjazny dla użytkowników. Wasze opinie są dla nas niezwykle cenne i pomagają nam w ciągłym doskonaleniu naszych usług. Dziękujemy za wasze wsparcie i zaufanie!</span>
    <br> <br> <br>
    
    <div class="panel">
        Jeśli potrzebujesz się z nami skontaktować, możesz wybrać jedną z poniższych form kontaktu: <br><br>

        1. Wiadomość e-mail: support&#64;coresaken.com <br><br>
        2. Discord: <a href="https://discord.gg/AhEKtugFTW">https://discord.gg/AhEKtugFTW</a>
    </div>
</section>