@import "../../../../styles/base";

@mixin item {
    background-color: #ffffff1e;
    border: 1px solid #7979798f;

    margin-top: 25px;
    border-radius: 20px;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .link-name-preview {
        font-weight: 800;
        font-size: 1.5em;
    }

    .right-panel {
        display: flex;
        gap: 20px;
        align-items: center;

        .click-to-edit {
            font-size: 0.9em;
            color: #c7c7c7;
        }

        .remove-link-button {
            padding: 8px 10px;
            width: fit-content;
            height: fit-content;

            background-color: rgba(255, 0, 0, 0.26);
            color: $color-red;
            border: 2px solid $color-red;
            border-radius: 10px;
        }

        .remove-link-button:hover {
            cursor: pointer;
            background-color: rgba(255, 0, 0, 0.664);
        }
    }
}

#container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    #header {
        margin: 50px 0;

        font-size: 2em;
        text-align: center;
        width: 100%;

        @media (max-height: 500px) {
            margin: 25px 0;
        }
    }

    #content {
        width: 100%;

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .button {
            padding: 15px;
            border-radius: 15px;

            font-weight: 600;
            width: 100%;
            text-align: center;
        }

        .button:hover {
            cursor: pointer;
        }

        #add-link-button {
            background-color: $color-green;
        }

        #add-link-button:hover {
            background-color: $color-green-dark;
        }

        section {
            text-align: center;
            width: 800px;

            margin: auto;

            #link-list-container {
                .link {
                    @include item();
                    backdrop-filter: blur(5px);
                }

                .selected {
                    background-color: $color-theme;
                }

                .link:hover {
                    cursor: pointer;
                    background-color: #ffffff3f;
                }

                .link.cdk-drag-placeholder {
                    opacity: 0.25;
                }
            }

            #submit-button {
                background-color: $color-theme;
                margin-top: 100px;

                @media (max-height: 500px) {
                    margin-top: 50px;
                }
            }

            #submit-button:hover {
                background-color: $color-theme-dark;
            }
        }
    }
}

.link.cdk-drag-preview {
    @include item();

    background-color: #161616;
}
