#container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#container #header {
  margin: 50px 0;
  font-size: 2em;
  text-align: center;
  width: 100%;
}
@media (max-height: 500px) {
  #container #header {
    margin: 25px 0;
  }
}
#container #content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#container #content .button {
  padding: 15px;
  border-radius: 15px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
#container #content .button:hover {
  cursor: pointer;
}
#container #content #add-link-button {
  background-color: rgb(92, 228, 98);
}
#container #content #add-link-button:hover {
  background-color: rgb(69, 202, 76);
}
#container #content section {
  text-align: center;
  width: 800px;
  margin: auto;
}
#container #content section #link-list-container .link {
  background-color: rgba(255, 255, 255, 0.1176470588);
  border: 1px solid rgba(121, 121, 121, 0.5607843137);
  margin-top: 25px;
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
#container #content section #link-list-container .link .link-name-preview {
  font-weight: 800;
  font-size: 1.5em;
}
#container #content section #link-list-container .link .right-panel {
  display: flex;
  gap: 20px;
  align-items: center;
}
#container #content section #link-list-container .link .right-panel .click-to-edit {
  font-size: 0.9em;
  color: #c7c7c7;
}
#container #content section #link-list-container .link .right-panel .remove-link-button {
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.26);
  color: rgb(252, 99, 107);
  border: 2px solid rgb(252, 99, 107);
  border-radius: 10px;
}
#container #content section #link-list-container .link .right-panel .remove-link-button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.664);
}
#container #content section #link-list-container .selected {
  background-color: #e2a258;
}
#container #content section #link-list-container .link:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2470588235);
}
#container #content section #link-list-container .link.cdk-drag-placeholder {
  opacity: 0.25;
}
#container #content section #submit-button {
  background-color: #e2a258;
  margin-top: 100px;
}
@media (max-height: 500px) {
  #container #content section #submit-button {
    margin-top: 50px;
  }
}
#container #content section #submit-button:hover {
  background-color: #ce8e45;
}

.link.cdk-drag-preview {
  background-color: rgba(255, 255, 255, 0.1176470588);
  border: 1px solid rgba(121, 121, 121, 0.5607843137);
  margin-top: 25px;
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #161616;
}
.link.cdk-drag-preview .link-name-preview {
  font-weight: 800;
  font-size: 1.5em;
}
.link.cdk-drag-preview .right-panel {
  display: flex;
  gap: 20px;
  align-items: center;
}
.link.cdk-drag-preview .right-panel .click-to-edit {
  font-size: 0.9em;
  color: #c7c7c7;
}
.link.cdk-drag-preview .right-panel .remove-link-button {
  padding: 8px 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.26);
  color: rgb(252, 99, 107);
  border: 2px solid rgb(252, 99, 107);
  border-radius: 10px;
}
.link.cdk-drag-preview .right-panel .remove-link-button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.664);
}/*# sourceMappingURL=link.component.css.map */