#container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 1200px;
    margin: auto;

    margin-top: 30px;

    h1.header{
        text-align: center;
    }

    @media (max-width: 1200px) {
        padding: 10px;
        width: 100%;
    }
}